.mm
{
    padding: 20px;
}
#sid
{
    background-color: orange;
}
.dd
{
    background-color: gray;
}
h1
{
    text-align: center;
    padding: 50px;
    font-family: 'Dancing Script', cursive;

}

h2
{
    text-align: center;
    
    font-family: 'Dancing Script', cursive;
}

.di
{
    padding: 30px;
}